.imageset{
    margin-top: 30px;
    margin-left: 100px;
}
body{
    background-color:#f4b20845 !important;
}
.name{
    margin-left: 43%;
   
}
h5{
    font-size:19px;
    margin-left: 6px;
}


h2{
    margin-left: 70px;
    border-bottom: 1px solid black;
    margin-right: 70px;
}
h3{
    font-size: 25px;
    margin-left: 70px;
}
h4{
    font-size: 18px;
    margin-left: 70px;
    margin-top: 10px;
    border-bottom: 1px solid black;
    margin-right: 70px;
  
}
.time{
    float:right;
}
